:root {
    --main-color: #c0392b;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;

    --nav-height: 60px;
    --space-top: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}

.welcome-page {
    position: relative;
    height: 85vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-image: url("/images/index.jpg");
}
.welcome-page {

    opacity: 1.0;
}
.welcome-page hover {
  opacity: 0.7;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}

.main-color {
    color: var(--main-color);
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

.nav a {
    color: var(--text-color);
}

.logo {
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li ~ li {
    margin-left: 30px;
}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover {
    color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
    color: unset;
}

.btn1 {
    color: #ffffff;
    background-color: red;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn2 {
    color: #ffffff;
    padding: 0.5rem 3rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
    background: transparent;
    border: none;
}

.btn2-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.btn2-hover:hover::before {
    width: 100%;
}

.btn2 i,
.btn2 span {
    z-index: 1;
}

.btn2 i {
    margin-right: 1rem;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;
}

.btn i {
    margin-right: 1rem;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.button {
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}
.button1 {
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    text-decoration: none;
    color: red;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.button1:hover {
    background-color: red;
    color: #111;
    transition: 0.3s ease-in-out;
}

.button-auto-width {
    white-space: nowrap; /* Prevent text from wrapping */
}

.button:hover {
    background-color: red;
    color: #111;
    transition: 0.3s ease-in-out;
}

.button2 {
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-decoration: none;
    position: relative;
    color: #fff;
    border-radius: 20px;
    border-color:rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    transition: background-color 0.6s ease-in-out, transform 0.6s ease-in-out, font-size 0.3s ease-in-out, border-color 0.6s ease-in-out;
}

.button2:hover {
    border-radius: 20px; /* Transparent border */
    font-weight: 900; /* Increase font size */
    background-color:rgba(0, 0, 0, 1); /* Non-transparent background */
    border-color: rgba(255, 0, 0, 1); /* Transparent border */
}


/* Add this style for the Remove Button */
.button-remove {
    background-color: #d9534f; /* Red color for remove button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

/* Remove Button hover effect */
.button-remove:hover {
    background-color: #c9302c; /* Darker red color on hover */
}



/* Style for the Edit Movie button */
.button-edit {
    background-color: #e50914; /* Netflix red color */
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

/* Edit Button hover effect */
.button-edit:hover {
    background-color: #cc0812; /* Darker red color on hover */
}

.hamburger-menu {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

.hero-slide-item {
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}

.hero-slide-item img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translateY(-42%); /* Adjust for half of the image height */
    left: 0;
}

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}

.item-content-wraper {
    padding-left: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-content-wraper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
}

.movie-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--space-top) / 2);
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.movie-info span {
    margin-left: 5px;
}

.movie-info i {
    color: var(--main-color);
}

.movie-info ~ .movie-info {
    margin-left: 5px;
}

.item-content-description {
    font-size: 1.15rem;
    margin-top: var(--space-top);
    line-height: 1.5rem;
}

.item-action {
    margin-top: var(--space-top);
}

.carousel-nav-center {
    position: relative;
}

.carousel-nav-center .owl-nav button i {
    font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

.top-down {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}


.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the loader appears on top of other content */
}

.loader {
    border: 8px solid #181616; /* Light grey border */
    border-top: 8px solid red; /* Blue border for animation */
    border-radius: 50%; /* Makes the loader circular */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Additional styling for your content */



.owl-item.active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.movie-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
}

.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}

.movie-item:hover img {
    transform: scale(1.05);
}

.movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.9);
}

.movie-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.movie-item-title {
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
}

.movie-item-img {
    width: 100%; /* Set the width to 100% */
    height: 100%; /* Set the height to 100% */
    object-fit: cover; /* Crop the image while maintaining aspect ratio */
    position:absolute;
}

.section {
    padding-top: 80px;
}

.section-header {
    margin-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    border-left: 4px solid var(--main-color);
    display: flex;
    align-items: center;
}

.pricing-header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing-box {
    padding: 50px;
    margin: 15px 0;
    background-color: var(--box-bg);
    border-top: 5px solid transparent;
    transition: transform 0.3s ease-in-out;
}

.pricing-box:hover {
    transform: translateY(-20px);
}

.pricing-box.hightlight {
    border-top: 5px solid var(--main-color);
}

.pricing-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.pricing-price {
    font-weight: 700;
}

.pricing-price span {
    font-size: 1rem;
}

.pricing-box-content {
    text-align: center;
    margin-top: 60px;
    font-size: 1.25rem;
}

.pricing-box-action {
    text-align: center;
    margin-top: 60px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer.section {
    margin-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: var(--box-bg);
}

footer a:hover {
    color: var(--main-color);
}

footer a.logo {
    margin-top: -2.5rem;
    display: block;
}

footer a.logo:hover {
    color: unset;
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
}

.social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.social-item ~ .social-item {
    margin-left: 20px;
}

footer .content {
    margin-top: 20px;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
    transform: translateX(5px);
}

.copyright {
    bottom:0px;
    padding: 10px;
    height:50px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
    width: 100vm;
}

/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .hero-slide-item-content {
        position: relative;
    }

    .hero-slide-item img {
        height: 100%;
    }

    .item-content-title {
        font-size: 3rem;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 10px 30px;
    }

    .nav-menu.active {
        left: 0;
    }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* Adjust styles for phones in portrait orientation */
    html {
        font-size: 10px; /* Adjust font size as needed */
    }

    .container {
        padding: 0 15px; /* Adjust container padding */
    }

    .hero-slide-item {
        height: auto; /* Adjust hero slide item height */
        padding-top: unset; /* Reset padding top */
    }
    .hero-slide-item img {
            height: 100%; /* Set height to 100% */
            position: absolute; /* Position absolutely */
            top: 50%; /* Center vertically */
            transform: translateY(-50%) translateX(-50%); /* Adjust for center horizontally */
            left: 50%; /* Set left to 50% */
        }

    .item-content-wraper {
        width: 100%; /* Adjust content wrapper width */
        height: 100%; /* Adjust content wrapper height */
        padding-bottom: 20px; /* Adjust padding */
        padding-right: 5rem; /* Adjust padding */
        background-color: rgba(0, 0, 0, 0.2); /* Adjust background color */
    }

    .hero-slide-item-content {
        position: relative; /* Adjust position */
    }

    .hero-slide-item img {
        height: 100%; /* Adjust image height */
    }

    .item-content-title {
        font-size: 2rem; /* Adjust font size */
    }

    .hamburger-menu {
        display: grid; /* Adjust display */
    }

    .nav-menu {
        /* Adjust navigation menu styles */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 10px 30px; /* Adjust margin */
    }

    .nav-menu.active {
        left: 0; /* Adjust position */
    }
}


/* Styles for the movie-view class */
.movie-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #141414;
    color: white;
    margin: 0 auto;
    width: 75%;
}

.movie-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.video-player {
    width: 720px;
    height: 480px;
    margin-bottom: 20px;
    /* Add any specific styles for the video player */
}

.poster {
    max-width: 640px;
    height: auto;
    margin-bottom: 20px;
}

.movie-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    border-radius:20px;
    border: 2px solid red;
    margin: 0 auto;
}

.movie-details-left {
    flex: 1;
}

.movie-details-right {
    flex: 1;
}

.release-year,
.cast,
.director,
.genre,
.runtime,
.category,
.rating {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5%;
}

.description {
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 2rem;
}


.profile-pic-container {
    height: 100px;
    width: 100px;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto; /* Center the image horizontally */
    box-shadow: 0 0 20px 20px red; /* Add a red glow on the outside (adjust spread as needed) */
    border-radius: 50%;

}

.profile-pic-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}

.profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Set a default box-shadow color */
.profile-pic-container {
    --box-shadow-color: red;
    box-shadow: 0 0 10px 10px var(--box-shadow-color);
}

.profile-pic-container:hover img {
    transform: scale(1.1);
}

.th-movie-item {
    display: block;
    padding: 10px;
    border-bottom: 3px solid red;
}

.th-movie-item img {
    max-width: 100px; /* Adjust the maximum width of the poster image */
    margin-right: 10px;
    margin-left: 10px;
}

.th-movie-item .movie-details {
    display: inline-block;
    vertical-align: top;
}

.th-movie-item .movie-title {
    font-weight: bold;
}

.th-movie-item .movie-year {
    color: #666;
}

#myDropdown {
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
    max-height: 600px; /* Set the maximum height based on your requirement */
    overflow-y: auto;
    position: absolute; /* Set the position to absolute */
    width: 100%; /* Make it full-width */
    z-index: 1;
    max-width: 400px;
    max-height: 400px; /* Set the maximum height based on your requirement */
    overflow-y: auto; /* Add this line to enable vertical scrollbar when content exceeds the max height */
    background-color: rgba(0, 0, 0, 1);
    radius: 20px;
}

#myDropdown.show {
    margin-top:200px;
    max-height: 400px;
    max-width: 400px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #cc0002;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b81416;
}

.form-control{
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color: transparent;
    outline: none;
    font-size: 16px;
}
.form-control:focus{
    color: white;
    background-color: transparent;
    outline: none;
    box-shadow: 0 0 20px 5px rgba(0, 0, 100, 0.8);
}

.form-control1{
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    transition: width 0.9s ease;
}

.form-control1:hover{
                        border: 0px;
                        width: 120%;
                        box-shadow: 0 0 10px 10px rgba(255, 0, 0, 0.8); /* Red glowing border with translucency */
                     }
.form-control1:focus{
                        border: 0px;
                        width: 120%;
                        box-shadow: 0 0 10px 10px rgba(255, 0, 0, 0.8); /* Red glowing border with translucency */
}