<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/commons::head}"></head>

<body>
<header th:replace="~{fragments/commons::nav}"></header>
<div class="welcome-page">
    <div class="movie-list">
        <!-- Add movie cards here -->
    </div>
    <div class="buttons">
        <a href="/login" class="button">Login</a>
        <a href="/register" class="button">Register</a>
        <a href="/home" class="button">Home Page</a>
    </div>
</div>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>

</html>
