<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="~{fragments/commons::head}"></head>

<body>
<header th:replace="~{fragments/commons::nav}"></header>
<div class="welcome-page">
    <div class="movie-list">
        <!-- Add movie cards here -->
    </div>
    <th:block sec:authorize="isAuthenticated()">
        <th:block sec:authentication="name"></th:block>
    </th:block>
    <th:block sec:authorize="!isAuthenticated()">
        Anonymous!
    </th:block>
    <div class="hero-slide-item">
        <img src="./images/transformer.jpg" alt="">
        <div class="buttons">
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Register</a>
            <a href="/home" class="btn">Home Page</a>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>

</html>
