<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Add Movie</title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

    <!-- APP CSS -->
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!--        <link rel="stylesheet" href="/css/style.css"/>-->
    <link rel="stylesheet" href="/css/grid.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add movie</span></h1>


    <form class="mx-auto w-25 bg-blur rounded"
          th:method="POST"
          th:action="@{/movies/add}"
          th:object="${movieAddBindingDto}">

<!--TITLE-->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="title" class="h4 mb-2">Title</label>
            </div>
            <input type="text" class="form-control" id="title"
                   th:field="*{title}"
                   th:errorclass="bg-danger">
            <small th:if="${#fields.hasErrors('title')}"
                   th:errors="*{title}" class="text-danger">Title error message</small>
        </div>

<!--        url-->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="url" class="h4 mb-2">URL</label>
            </div>
            <input type="text" class="form-control" id="url"
                   th:field="*{url}"
                   th:errorclass="bg-danger">
            <small th:if="${#fields.hasErrors('url')}"
                   th:errors="*{url}" class="text-danger">URL error message</small>
        </div>
<!--        poster-->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="poster" class="h4 mb-2">Poster</label>
            </div>
            <input type="text" class="form-control" id="poster"
                   th:field="*{poster}"
                   th:errorclass="bg-danger">
            <small th:if="${#fields.hasErrors('poster')}"
                   th:errors="*{poster}" class="text-danger">Poster error message</small>
        </div>
<!--        releaseYear-->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="releaseYear" class="h4 mb-2">Release Year</label>
            </div>
            <input type="text" inputmode="numeric" class="form-control" id="releaseYear"
                   th:field="*{releaseYear}"
                   th:errorclass="bg-danger">
            <small th:if="${#fields.hasErrors('releaseYear')}"
                   th:errors="*{releaseYear}" class="text-danger">Release Year error message</small>
        </div>
<!--  runtime-->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="releaseYear" class="h4 mb-2">Runtime</label>
            </div>
            <input type="text" inputmode="numeric" class="form-control" id="runtime"
                   th:field="*{runtime}"
                   th:errorclass="bg-danger">
            <small th:if="${#fields.hasErrors('runtime')}"
                   th:errors="*{runtime}" class="text-danger">Runtime error message</small>
        </div>
<!-- cast-->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="cast" class="h4 mb-2">Cast</label>
            </div>
            <input type="text" class="form-control" id="cast"
                   th:field="*{cast}"
                   th:errorclass="bg-danger">
            <small th:if="${#fields.hasErrors('cast')}"
                   th:errors="*{cast}" class="text-danger">Cast error message</small>
        </div>
<!--        director-->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="director" class="h4 mb-2">Director</label>
            </div>
            <input type="text" class="form-control" id="director"
                   th:field="*{director}"
                   th:errorclass="bg-danger">
            <small th:if="${#fields.hasErrors('director')}"
                   th:errors="*{director}" class="text-danger">Director error message</small>
        </div>
<!--        description-->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea type="text" class="form-control" id="description"
                      th:field="*{description}"
                      th:errorclass="bg-danger"></textarea>
            <small th:if="${#fields.hasErrors('description')}"
                   th:errors="*{description}" class="text-danger">Description error message</small>
        </div>
<!--        genre-->
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="genre" class="h4 mb-2">Genre</label>
            </div>
            <select class="browser-default custom-select" id="genre"
                    th:field="*{genre}"
                    th:errorclass="bg-danger">
                <option value="">Select genre</option>
                <option value="ACTION">Action</option>
                <option value="DRAMA">Drama</option>
                <option value="COMEDY">Comedy</option>
                <option value="SCIENCE_FICTION">Science-Fiction</option>
                <option value="FANTASY">Fantasy</option>
                <option value="WESTERN">Western</option>
            </select>

            <small th:if="${#fields.hasErrors('genre')}"
                   th:errors="*{genre}" class="text-danger">Genre error message</small>
        </div>
<!--        category-->
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select" id="category"
                    th:field="*{category}"
                    th:errorclass="bg-danger">
                <option value="">Select genre</option>
                <option value="G">All Ages</option>
                <option value="PG">PG(8+)</option>
                <option value="PG_13">PG-13(12+)</option>
                <option value="R">R(16+)</option>
                <option value="NC_17">18+</option>
            </select>

            <small th:if="${#fields.hasErrors('category')}"
                   th:errors="*{category}" class="text-danger">Category error message</small>
        </div>
<!--        rating-->
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="rating" class="h4 mb-2">Rating</label>
            </div>
            <input type="number" class="form-control" id="rating"
                   th:field="*{rating}"
                   th:errorclass="bg-danger" step="0.1" min="1" max="10">
            <small th:if="${#fields.hasErrors('rating')}"
                   th:errors="*{rating}" class="text-danger">Rating error message</small>
        </div>




        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add movie</button>
        </div>

    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>

<!-- SCRIPT -->
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- OWL CAROUSEL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<!-- APP SCRIPT -->
<script src="/JavaScript/app.js"></script>
</body>
</html>
