<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Register</span></h1>

    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/register}">

        <div class="form-group ">
            <label for="username" class="text-white font-weight-bold">Username</label>
            <input id="username"
                   name="username"
                   type="text"
                   class="form-control"
                   placeholder="Username"/>
<!--            <p class="errors alert alert-danger">-->
<!--                Username is required.-->
<!--            </p>-->
        </div>


        <div class="form-group ">
            <label for="email" class="text-white font-weight-bold">Email</label>
            <input id="email"
                   name="email"
                   type="text"
                   class="form-control"
                   placeholder="Email"/>
        </div>


        <div class="form-group ">
            <label for="password" class="text-white font-weight-bold">Password</label>
            <input
                    id="password"
                    name="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"/>
        </div>
        <div class="form-group ">
            <label for="confirmPassword" class="text-white font-weight-bold">Confirm Password</label>
            <input id="confirmPassword"
                   name="confirmPassword"
                   type="password"
                   class="form-control"
                   placeholder="Confirm password"/>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="plan" class="h4 mb-2">Subscription Plan</label>
            </div>
            <select name="plan" class="browser-default custom-select" id="plan">
                <option value="">Select plan</option>
                <option value="STANDARD">Standard - 9.99$</option>
                <option value="PREMIUM">Premium - 14.99$</option>
            </select>


        </div>

        <p th:if="${registration_error}" class="errors alert alert-danger">
            Make sure to enter everything.
        </p>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Register</button>
        </div>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>

<!-- SCRIPT -->
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- OWL CAROUSEL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<!-- APP SCRIPT -->
<script src="/JavaScript/app.js"></script>

</body>
</html>